commands:
  install-chrome:
    command: |
      google-chrome --version || { wget -O google-chrome-stable.rpm https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm && sudo yum -y install ./google-chrome-stable.rpm; }
  
  setup-google-service:
    command: |
      mkdir -p /var/app
      curl -s https://filesure-development.s3.ap-south-1.amazonaws.com/google-serrrvice-account-keyy.json > /var/app/googleService.json || echo "Failed to download file"
      chmod 0777 /var/app/googleService.json || echo "Failed to change permissions"